-id = dom_id(affiliation.group)
%td
  =check_box_tag "#{id}_linked", '1', affiliation.user
  =affiliation.group.name

-if affiliation.group.once_off?
  %td/
  =hidden_field_tag "#{id}_kind_regular", false
  =hidden_field_tag "#{id}_kind_visitor", false
-else
  %td
    =radio_button_tag "#{id}_kind", 'regular', (!affiliation.new_record? && affiliation.regular?)
    regular
    =radio_button_tag "#{id}_kind", 'visitor', (!affiliation.new_record? && !affiliation.regular?)
    visitor
%td
  =check_box_tag "#{id}_presenter", '1', affiliation.presenter?
  presenter