!!! XML
:plain
  <?xml-stylesheet href="/stylesheets/graph.css" type="text/css"?>
%svg{:xmlns=>"http://www.w3.org/2000/svg", 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", :width=>"100%", :height=>"100%", :viewBox=>"-175 -175 350 350"}
  -# %script{:type => 'text/javascript', 'xlink:href' => '/javascripts/jquery-1.2.3.min.js'}
  -# %script{:type => 'text/javascript', 'xlink:href' => '/javascripts/chatter.js'}

  -count        = @users.size.to_f
  -radius       = 75
  -circ         = 2 * Math::PI * radius
  -max_radius   = circ / count / 2.0
  -min_radius   = max_radius * 0.2
  -delta_radius = max_radius-min_radius
  -font_size    = [(max_radius.to_i * 2 * 0.75 + 1), 14].min
  -max_lines    = @user_totals.values.max.to_f
  -max_single_thanks = @mentions.collect {|(to,froms)| froms.values}.flatten.max.to_f - 1.0
  -outer_radius = 350 / 2 - radius - max_radius
  
  -#%circle{:cx=>0, :cy=>0, :r=>350/2, :fill => 'none', :stroke => 'black'}
  -#%rect{:x => -175, :y => -175, :width => 350, :height => 350, :fill => 'none', :stroke => 'black'}
  
  -@mentions.each do |(to,froms)|
    -to_index    = @users.index(to) or next
    -to_angle    = to_index / count * Math::PI * 2


    -froms.each do |(from,total)|
      -from_index = @users.index(from) or next
      -from_fraction = from_index / count
      -from_angle = from_fraction * Math::PI * 2
      
      -line_width = ((total - 1.0) / max_single_thanks) * 1.2 + 0.1
      -colour      = rgb2hex(*hsv2rgb(from_fraction * 360.0,0.8,0.8))
      
      %line{:x1=>Math.cos(from_angle)*radius,:y1=>Math.sin(from_angle)*radius,:x2=>Math.cos(to_angle)*radius,:y2=>Math.sin(to_angle)*radius,'stroke-width'=>line_width, :stroke=>colour}/

  
  %g{:style => "font-style:normal;font-family:Georgia;font-size:#{font_size}px"}
    -@users.each_with_index do |user,i|
      -angle = i / count * 360
      -colour = rgb2hex(*hsv2rgb(angle,0.5,0.8))
      -stroke_colour = rgb2hex(*hsv2rgb(angle,0.8,0.8))
      %g{:transform => "rotate(#{angle}) translate(#{radius},0)"}
        %circle{:cx=>0, :cy=>0, :r=>(@user_totals[user] / max_lines * delta_radius + min_radius), :fill => colour, 'fill-opacity' => 0.5, :stroke => stroke_colour, 'stroke-width' => 0.5}
        -num = "(#{@user_totals[user]})"
        -if angle > 90 and angle < 270
          %text{:x => -max_radius, :y => font_size/4, :transform => "rotate(180)", 'text-anchor' => 'end'}
            ==#{num} #{user}
        -else
          %text{:x => max_radius, :y => font_size/4}
            ==#{user} #{num}