!!! XML
:plain
  <?xml-stylesheet href="/stylesheets/graph.css" type="text/css"?>
%svg{:xmlns=>"http://www.w3.org/2000/svg", :width=>"100%", :height=>"100%", :viewBox=>"-175 -175 350 350"}

  -count        = @users.size.to_f
  -radius       = 75
  -circ         = 2 * Math::PI * radius
  -max_radius   = circ / count / 2.0
  -min_radius   = max_radius * 0.2
  -delta_radius = max_radius-min_radius
  -font_size    = max_radius.to_i * 2 + 1
  -max_lines    = @user_totals.values.max.to_f
  -max_single_thanks = @mentions.collect {|(to,froms)| froms.values}.flatten.max.to_f
  
  -@mentions.each do |(to,froms)|
    -to_angle   = @users.index(to) / count * Math::PI * 2

    -froms.each do |(from,total)|
      -from_angle = @users.index(from) / count * Math::PI * 2
      -line_width = total / max_single_thanks * 0.75 + 0.05
      
      %line{:x1=>Math.cos(from_angle)*radius,:y1=>Math.sin(from_angle)*radius,:x2=>Math.cos(to_angle)*radius,:y2=>Math.sin(to_angle)*radius,'stroke-width'=>line_width, :stroke=>'#555'}/

  
  %g{:style => "font-style:normal;font-family:Georgia;font-size:#{font_size}px;"}  
    -@users.each_with_index do |user,i|
      %g{:transform => "rotate(#{i / count * 360}) translate(#{radius},0)"}
        ==<!-- #{@user_totals[user]} ... #{max_lines} -->
        %circle{:cx=>0, :cy=>0, :r=>(@user_totals[user] / max_lines * delta_radius + min_radius), :class => 'to'}
        %text{:x => max_radius, :y => font_size/4}
          ==#{user} (#{@user_totals[user]})