-@page_title = "Hey, add yourself!"
-facebook_form_for @user do |f|
  =f.error_messages

  %fieldset
    %legend old skool
    = f.text_field :email
    = f.password_field :password
    = f.password_field :password_confirmation

  %fieldset
    %legend new skool
    = f.text_field :openid_identifier

  %fieldset
    = submit_tag 'sign up'
