-@page_title = @user.nick


-if authorised?
  .column.span-16.last.edit
    =link_to "Edit #{@user.nick}", edit_user_path(@user)

%hr.space


.column.span-6.mugshot
  =image_tag @user.mugshot.url
  
  %hr.space
  
  .box.thankyous{:class => logged_in_but_other_user? ? 'highlighted' : ''}
    = render :partial => 'thankyous'

.column.span-10.last
  .name-location
    %h2=@user.name_with_fallback
    
    -unless @user.aliases.blank?
      .aliases
        %em a.k.a
        =@user.aliases
      
    -unless @user.location.blank?
      .location
        %em in
        =@user.location

  -unless @user.blurb.blank?
    .blurb.large
      :textile
        #{@user.blurb}

  -unless @user.site_url.blank?
    .site
      =link_to @user.site_name, @user.site_url

  -unless @user.working_at.blank?
    .working-at
      %em working at
      =@user.working_at_url.blank? ? @user.working_at : link_to(@user.working_at, clean_link(@user.working_at_url))

  -unless @user.working_on.blank?
    .working-on
      %em working on
      :textile
        #{@user.working_on}
      
  -if @user.affiliations.size > 0
    %hr.space
    
    %ul.groups
      = render :partial => 'affiliation_show', :collection => @user.affiliations



%hr

-if @user.facets.size > 0
  .column.span-16.last.facets
    %h2 
      facets
      %span==of #{@user.nick}'s web presence.
    %table.facet-list
      = render :partial => 'facet_show', :collection => @user.facets
