!!! XML
:plain
  <?xml-stylesheet href="/stylesheets/graph.css" type="text/css"?>
%svg{:xmlns=>"http://www.w3.org/2000/svg", 'xmlns:xlink'=>"http://www.w3.org/1999/xlink", :width=>"100%", :height=>"100%", :viewBox=>"-150 -150 300 300"}
  -#%script{:type => 'text/javascript', 'xlink:href' => '/javascripts/jquery-1.2.3.min.js'}
  -#%script{:type => 'text/javascript', 'xlink:href' => '/javascripts/beergraph.js'}


  -count        = @users.size.to_f
  -radius       = 75
  -circ         = 2 * Math::PI * radius
  -max_radius   = circ/count/2.0
  -min_radius   = max_radius * 0.2
  -font_size    = max_radius.to_i * 2 + 1
  -max_thanks   = (@to.values|@from.values).max.to_f
  -delta_radius = max_radius-min_radius
  -max_single_thanks = @thanks.collect {|(to,froms)| froms.values}.flatten.max.to_f
  
  -@thanks.each do |(to,froms)|
    -froms.each do |(from,total)|
      -from_angle = @users.index(from) / count * Math::PI * 2
      -to_angle   = @users.index(to)   / count * Math::PI * 2
      -line_width = total / max_single_thanks * 1.5 + 0.05
      %line{:x1=>Math.cos(from_angle)*radius,:y1=>Math.sin(from_angle)*radius,:x2=>Math.cos(to_angle)*radius,:y2=>Math.sin(to_angle)*radius,'stroke-width'=>line_width, :stroke=>'#555'}/

  %g{:style => "font-style:normal;font-family:Georgia;font-size:#{font_size}px"}
    -@users.each_with_index do |user,i|
      -angle = i / count * 360
      %g{:transform => "rotate(#{angle}) translate(#{radius},0)"}
        %circle{:cx=>0, :cy=>0, :r=>(@from[user] / max_thanks * delta_radius + min_radius), :class => 'from'}
        %circle{:cx=>0, :cy=>0, :r=>(@to[user]   / max_thanks * delta_radius + min_radius), :class => 'to'}
        -if angle > 90 and angle < 270
          %text{:x => -max_radius, :y => font_size/4, :transform => "rotate(180)", 'text-anchor' => 'end'}
            ==(#{@to[user]}/#{@from[user]}) #{user}
        -else
          %text{:x => max_radius, :y => font_size/4}
            ==#{user} (#{@to[user]}/#{@from[user]})