<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

%html
%head
  %title roro facebook
  
  =# stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
  =# stylesheet_link_tag 'blueprint/print', :media => 'print'
  
  /[if IE]
    =# stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
  /[endif]

  = stylesheet_link_tag 'reset', 'text', '960'
  = stylesheet_link_tag 'application', 'jquery-ui-themeroller', 'code'
  
  
  = javascript_include_tag 'jquery-1.2.3.min.js', 'ui.core', 'ui.tabs'
  = yield :header
  = yield :feed_tags

%body{:class=>"#{controller.controller_name.downcase.dasherize} #{controller.controller_name.downcase.dasherize}-#{controller.action_name.downcase.dasherize}"}
  .container.header-row
    .column.span-16.prepend-1.append-1.header
      %a{:href => '/'}
        %img{:src => '/images/logo.jpg'}
    .column.span-6.last.navigation
      %ul
        -if logged_in?
          %li
            %strong.large
              Hi 
              = link_to current_user.nick, user_path(current_user)
            (
            = link_to 'log out', logout_path
            )
          
        -else
          %li
            To edit your profile, please
            = link_to 'log in', login_path
          %li
            or
            = link_to 'sign up', signup_path

        %li
          = link_to_unless_current 'pinboard', pinboard_users_path
          &middot;
          = link_to_unless_current 'hey,beers', beerating_users_path
          &middot;
          = link_to_unless_current 'facets', facets_path
          &middot;
          = link_to_unless_current 'chatter', chatter_users_path

  .container.content-row
    .column.span-16.prepend-1.append-1.content
      %hr.space
      = yield
    .column.span-6.last.sidebar
      = yield(:sidebar)
  
  .container.footer-row
    .column.span-18.last.footer.quiet
      All content and design &copy; roro, or the individual authors.  
  
  
  %script{:src=>"http://www.google-analytics.com/urchin.js", :type=>"text/javascript"}
  :javascript
    _uacct = "UA-1843540-1";
    urchinTracker();