-content_for :header do
  =javascript_include_tag 'login'

= flash[:notice]
= flash[:error]

-form_tag do
  %p
    %label{:for=>"login"} Email
    = text_field_tag 'email'

  %p
    %label{:for=>"password"} Password
    =password_field_tag 'password'

  %p OR

  %p
    %label{:for=>"openid_identifier"} OpenID
    = text_field_tag 'openid_identifier'

  %p 
    %label{:for=>"remember_me"} Remember me
    = check_box_tag 'remember_me'
  %p
    = submit_tag 'Log in'
    &middot;
    %a.forgot{:href => '#'} I forgot my password...

:javascript
  var reset_password_path = #{reset_password_path.to_json}
